@import './font.css';
@tailwind base;


@tailwind components;
@tailwind utilities;

main {
  cursor: url('../images/ellipse.png'), none;
}

main.bg-black {
  cursor: url('../images/ellipse-white.png'), none;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.4s opacity ease-in-out;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}