@import './font.css';
@tailwind base;


@tailwind components;
@tailwind utilities;

* {
  cursor: url('../images/ellipse.png'), none;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.4s opacity ease-in-out;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}